
{{!-- layouts/layout.hbs --}}

<!doctype html>
<html lang="en" dir="{{#compare dir '==' 'true'}}rtl{{else}}ltr{{/compare}}">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{ appName }} | Responsive Tailwind Admin Dashboard Template</title>
      {{> partials/dashboard/head }}
      {{#block "head"}}
        {{!-- External page head section--}}
      {{/block}}
  </head>
  <body class="{{bodyClass}} overflow-x-hidden" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
      {{> partials/dashboard/loader }}
    </div>
    <!-- loader END -->
     <div class="block xl:hidden">
    {{> partials/components/ui-offcanvas }}
    </div>
      <div id="bg-body-wrapper" class="bg-body wrapper">
        {{#block "content"}}

        {{/block}}
      </div>
    {{> partials/dashboard/scripts }}
    {{#block "scripts"}}
    {{/block}}
  </body>
</html>
