{{#extend layout title="basic-table" active="basic-table" path="../../" }}
{{#content "content"}}
<div class="flex flex-wrap">

  <div class="flex-auto w-full">
    <div class="flex flex-col mb-8 overflow-hidden bg-white rounded-lg shadow-lg">
      <div class="flex justify-between p-6 pb-0">
        <div class="header-title">
          <h4 class="mb-2 text-2xl font-medium card-title">Basic Table</h4>
        </div>
        <div class="dropdown">

        </div>
      </div>
      <div class="flex-auto p-0">
        <div class="mt-6 overflow-x-auto">
          <table id="basic-table" class="min-w-full overflow-hidden">
            <thead>
              <tr class="bg-gray-100 border-none">
                <th class="px-6 text-gray-500 py-4 whitespace-nowrap text-left">COMPANIES</th>
                <th class="px-6 text-gray-500 py-4 whitespace-nowrap text-left">CONTACTS</th>
                <th class="px-6 text-gray-500 py-4 whitespace-nowrap text-left">BUDGET</th>
                <th class="px-6 text-gray-500 py-4 whitespace-nowrap text-left">STATUS</th>
                <th class="px-6 text-gray-500 py-4 whitespace-nowrap text-left">COMPLETION</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <img class="w-10 h-10 p-1 mr-3 text-blue-400 bg-blue-100 rounded-xl"
                      src="../../assets/images/shapes/01.png" alt="profile">
                    <h6 class="text-base font-medium">Soft UI XD Version</h6>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10  text-center bg-white hover:z-10 text-blue-500 border-2 border-blue-500 rounded-full"> SP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center bg-white hover:z-10  text-blue-500 border-2 border-blue-500 rounded-full"> PP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center bg-white hover:z-10  text-blue-500 border-2 border-blue-500 rounded-full"> MM</div>
                    </a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap ">$14,000</td>
                <td class="px-6 py-4 whitespace-nowrap text-cyan-500">Pending</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center mb-2">
                    <h6 class="text-base font-medium">60%</h6>
                  </div>
                  <div class="flex w-full align-middle bg-cyan-100 rounded-full shadow-inner h-1.5">
                    <div class="w-3/5 h-1.5 text-xs leading-none text-center text-white bg-cyan-400 rounded-l-full">
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="bg-gray-50">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <img class="w-10 h-10 p-1 mr-3 text-blue-400 bg-blue-100 rounded-xl" src="../../assets/images/shapes/02.png" alt="profile">
                    <h6 class="text-base font-medium">Add Progress Track</h6>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> SP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> PP</div>
                    </a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">$3000</td>
                <td class="px-6 py-4 whitespace-nowrap text-red-500">Pending</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center mb-2">
                    <h6 class="text-base font-medium">10%</h6>
                  </div>
                  <div class="flex w-full align-middle bg-red-100 rounded-full shadow-inner h-1.5">
                    <div class="w-4 h-1.5  text-xs leading-none text-center text-white bg-red-400 rounded-l-full ">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <img class="w-10 h-10 p-1 mr-3 text-blue-400 bg-blue-100 rounded-xl" src="../../assets/images/shapes/03.png" alt="profile">
                    <h6 class="text-base font-medium">Fix Platform Errors</h6>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> SP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> PP</div>
                    </a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">Not set</td>
                <td class="px-6 py-4 whitespace-nowrap text-green-500">Completed</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center mb-2">
                    <h6 class="text-base font-medium">100%</h6>
                  </div>
                  <div class="flex w-full align-middle bg-gray-200 rounded-full shadow-inner h-1.5">
                    <div class="w-full h-1.5 text-xs leading-none text-center text-white bg-green-500 rounded-full">
                    </div>
                  </div>
                </td>
              </tr>
              <tr class=" bg-gray-50">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <img class="w-10 h-10 p-1 mr-3 text-blue-400 bg-blue-100 rounded-xl" src="../../assets/images/shapes/04.png" alt="profile">
                    <h6 class="text-base font-medium">Launch Our Mobile App</h6>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> SP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> PP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> AP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> DP</div>
                    </a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">$20,500</td>
                <td class="px-6 py-4 whitespace-nowrap text-green-500">Completed</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center mb-2">
                    <h6 class="text-base font-medium">100%</h6>
                  </div>
                  <div class="flex w-full align-middle bg-gray-200 rounded-full shadow-inner h-1.5">
                    <div class="w-full h-1.5 text-xs leading-none text-center text-white bg-green-500 rounded-full">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <img class="w-10 h-10 p-1 mr-3 text-blue-400 bg-blue-100 rounded-xl"
                      src="../../assets/images/shapes/06.png" alt="profile">
                    <h6 class="text-base font-medium">Add the New Pricing Page</h6>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> SP</div>
                    </a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">$500</td>
                <td class="px-6 py-4 whitespace-nowrap text-blue-500">On Schedule</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center mb-2">
                    <h6 class="text-base font-medium">25%</h6>
                  </div>
                  <div class="flex w-full align-middle bg-blue-100 rounded-full shadow-inner h-1.5">
                    <div class="w-1/4 h-1.5 text-xs leading-none text-center text-white bg-blue-500 rounded-l-full ">
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="bg-gray-50">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <img class="w-10 h-10 p-1 mr-3 text-blue-400 bg-blue-100 rounded-xl" src="../../assets/images/shapes/01.png" alt="profile">
                    <h6 class="text-base font-medium">Redesign New Online Shop</h6>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="iq-media-group iq-media-group-1">
                    <a href="#" class="relative inline-flex ml-0 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> SP</div>
                    </a>
                    <a href="#" class="relative inline-flex -ml-5 bg-no-repeat">
                      <div class="w-10 h-10 text-sm leading-10 text-center text-blue-500 hover:z-10 bg-white border-2 border-blue-500 rounded-full"> PP</div>
                    </a>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">$2000</td>
                <td class="px-6 py-4 whitespace-nowrap text-orange-500">Completed</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center mb-2">
                    <h6 class="text-base font-medium">40%</h6>
                  </div>
                  <div class="flex w-full align-middle bg-orange-100 rounded-full shadow-inner h-1.5">
                    <div class="w-2/5 h-1.5 text-xs leading-none text-center text-white bg-orange-500 rounded-l-full ">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{{/content}}
{{/extend}}
